.product-container {
    background-image: url(../Images/saharaDesert.jpg);
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(8, 8, 79);
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}